<header class="display-4 text-center mb-1">Add Product</header>

<div [hidden]="!msg" class="alert alert-success">{{msg}}</div>
<div [hidden]="!error" class="alert alert-danger">{{error}}</div>
<form [hidden]="loginerror" #frm="ngForm" class="col-6 mx-auto" (ngSubmit)="add()">


  <div class="form-group">
    <label for="pname">Product Name</label>
    <input [(ngModel)]="product.pname" #pname="ngModel" name="txtpname" type="pname" id="pname" class="form-control"
      required minlength="5" maxlength="20" autocomplete="off">
    <div class="alert alert-danger" *ngIf="pname.touched && !pname.valid">
      <div *ngIf="pname.errors.required">Product Name is required.</div>
      <div *ngIf="pname.errors.minlength">Product Name must be atleast 5 characters long.</div>
      <div *ngIf="pname.errors.maxlength">Product Name must be maximum 20 characters long.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input [(ngModel)]="product.category" #category="ngModel" name="txtcategory" type="text" id="category"
      class="form-control" required minlength="5" maxlength="20" pattern="[a-zA-Z]*" autocomplete="off">
    <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
      <div *ngIf="category.errors.required">Category is required.</div>
      <div *ngIf="category.errors.minlength">Category must be atleast 5 characters long.</div>
      <div *ngIf="category.errors.maxlength">Category must be maximum 20 characters long.</div>
      <div *ngIf="category.errors.pattern">Category must contain alphabets only.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input [(ngModel)]="product.price" #price="ngModel" name="txtprice" type="number" id="price" class="form-control"
      required pattern="[0-9]*" autocomplete="off">
    <div class="alert alert-danger" *ngIf="price.touched && !price.valid">
      <div *ngIf="price.errors.required">Price is required.</div>
      <div *ngIf="price.errors.pattern">Price must contain numbers only.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input [(ngModel)]="product.description" #description="ngModel" name="txtdescription" type="text" id="description"
      class="form-control" required autocomplete="off">
    <div class="alert alert-danger" *ngIf="description.touched && !description.valid">
      <div *ngIf="description.errors.required">description is required.</div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="!frm.valid">AddProduct</button>
</form>
