<section class=" mx-auto container">
  <div class="row">
    <div class="card col-md col-12 p-0 m-2">
      <img class="card-img-top" src="../../assets/mobile.jpg" alt="Card image" height="250px" width="200px">
      <div id="buttondiv" class="card-img-overlay text-center">
        <a routerLink="/viewproducts/mobiles" class=" btn btn-dark ">Mobiles</a>
      </div>
    </div>

    <div class="card col-md col-12 p-0 m-2">
      <img class="card-img-top" src="../../assets/computer.jpg" alt="Card image" height="250px" width="250px">
      <div id="buttondiv" class="card-img-overlay text-center">
        <a routerLink="/viewproducts/computers" class=" btn btn-dark ">Computers</a>
      </div>
    </div>

    <div class="card col-md col-12 p-0 m-2">
      <img class="card-img-top" src="../../assets/garment.jpg" alt="Card image" height="250px" width="200px">
      <div id="buttondiv" class="card-img-overlay text-center">
        <a routerLink="/viewproducts/garments" class=" btn btn-dark ">Garments</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card col-md col-12 p-0 m-2">
      <img class="card-img-top" src="../../assets/game.jpg" alt="Card image" height="250px" width="200px">
      <div id="buttondiv" class="card-img-overlay text-center">
        <a routerLink="/viewproducts/games" class=" btn btn-dark ">Games</a>
      </div>
    </div>

    <div class="card col-md col-12 p-0 m-2">
      <img class="card-img-top" src="../../assets/appliance.jpg" alt="Card image" height="250px" width="250px">
      <div id="buttondiv" class="card-img-overlay text-center">
        <a routerLink="/viewproducts/appliances" class=" btn btn-dark ">Home Appliances</a>
      </div>
    </div>

    <div class=" card col-md col-12 p-0 m-2">
      <img class="card-img-top" src="../../assets/sport.jpg" alt="Card image" height="250px" width="200px">
      <div id="buttondiv" class="card-img-overlay text-center">
        <a routerLink="/viewproducts/sports" class=" btn btn-dark ">Sports</a>
      </div>
    </div>
  </div>
</section>
