@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

#startup {
  font-family: 'Yellowtail', cursive;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #7ed56fc7, #28b485c2), url(../../assets/startup.jpg);
  background-size: cover;
  background-position: top
}

#producty {
  color: rgba(255, 251, 0, 0.822);
  letter-spacing: 15px;
}

#startup input {
  font-family: cursive;
  padding: 0.5rem;
  margin: 2px;
}

input:hover {}
